/* Some styles for the landing page aside from the basic layout stuff */

header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 60vh;
  min-height: 30rem;
  text-align: center;
}

footer {
  background: $dark-colour;
  color: #fff;
  padding: 4rem;
  text-align: center;
}

footer a {
  color: #fff;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin: 0;
}

footer li:before {
  content: "\2022 \A0";
}

footer li:first-child:before {
  content: "";
}


