
.animation-example {
  background: #fff;
  border: 2px dotted #aaa;
  font-size: 24px;
  height: 95vmin;
    left: calc(50% - 47.5vmin);
  position: absolute;
    top: calc(50% - 47.5vmin);
  width: 95vmin;
}

.hammer {
  /* Note - do not use vmin in scaleable animations! */
  -webkit-animation: hammer-pull 3s cubic-bezier(.8,.01,.2,1) infinite;
          animation: hammer-pull 3s cubic-bezier(.8,.01,.2,1) infinite;
  -webkit-transform-origin: 50% 10%;
          transform-origin: 50% 10%;
}

.nail {
  -webkit-animation: nail-pull 3s cubic-bezier(.8,.01,.2,1) infinite;
          animation: nail-pull 3s cubic-bezier(.8,.01,.2,1) infinite;
}

@media (min-width: 650px) {
  .hammer {
    -webkit-animation: hammer-hit 3s cubic-bezier(.8,.01,.2,1) infinite;
            animation: hammer-hit 3s cubic-bezier(.8,.01,.2,1) infinite;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  .nail {
    -webkit-animation: nail-hit 3s linear infinite;
            animation: nail-hit 3s linear infinite;
  }
}


@-webkit-keyframes hammer-pull {
  0%, 60% {
    -webkit-transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
            transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
  }
  60%, 90% {
    -webkit-transform: translateY(25%) translateX(-110%) rotateZ(-100deg);
            transform: translateY(25%) translateX(-110%) rotateZ(-100deg);
  }
  100% {
    -webkit-transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
            transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
  }
}


@keyframes hammer-pull {
  0%, 60% {
    -webkit-transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
            transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
  }
  60%, 90% {
    -webkit-transform: translateY(25%) translateX(-110%) rotateZ(-100deg);
            transform: translateY(25%) translateX(-110%) rotateZ(-100deg);
  }
  100% {
    -webkit-transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
            transform: translateY(25%) translateX(-110%) rotateZ(-108deg);
  }
}

@-webkit-keyframes nail-pull {
  0%, 60% {
    -webkit-transform: translateX(-42%);
            transform: translateX(-42%);
  }
  60%, 90% {
    -webkit-transform: translateX(-28%);
            transform: translateX(-28%);
  }
  100% {
    -webkit-transform: translateX(-42%);
            transform: translateX(-42%);
  }
}

@keyframes nail-pull {
  0%, 60% {
    -webkit-transform: translateX(-42%);
            transform: translateX(-42%);
  }
  60%, 90% {
    -webkit-transform: translateX(-28%);
            transform: translateX(-28%);
  }
  100% {
    -webkit-transform: translateX(-42%);
            transform: translateX(-42%);
  }
}

@-webkit-keyframes hammer-hit {
  0% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  70%, 90% {
    -webkit-transform: rotateZ(22deg);
            transform: rotateZ(22deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
}

@keyframes hammer-hit {
  0% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  70%, 90% {
    -webkit-transform: rotateZ(22deg);
            transform: rotateZ(22deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
}

@-webkit-keyframes nail-hit {
  0% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
  40%, 98% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}

@keyframes nail-hit {
  0% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
  40%, 98% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
}


