/* Styles for the tooltips */

.title-tooltip {
  background: rgba(10,10,10,.8);
  box-shadow: -1em -1em 0 0 RGBA(184,232,247,.5);
  color: #fff;
  font-size: .7em;
  opacity: 1;
  padding: .25em .5em;
  position: absolute;
    bottom: 2.2em;
    left: calc(50% - 8em);
  text-align: center;
  opacity: 0;
  transform: translateY(1em) scale(.8);
  transform-origin: 50% 100%;
  transition: visibility 0s .5s,
              opacity .2s ease-out,
              transform .3s cubic-bezier(0,1,.3,1);
  visibility: hidden;
  width: 16em;
  z-index: 10;
}

.title-tooltip::after {
  content: "";
  border-style: solid;
  border-color: rgba(10,10,10,.8) transparent;
  border-radius: 0;
  border-width: .2em .2em 0 .2em;
  position: absolute;
    bottom: -.18em;
    left: calc(50% - .2em);
  width: 0;
}

.anchor-tooltip:hover .title-tooltip {
  box-shadow: -1em -1em 0 0 #B8E8F7;
  opacity: 1;
  transform: none;
  transition: opacity .2s ease-out,
              transform .3s cubic-bezier(0,1,.3,1);
  visibility: visible;
}