header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

header:before {
  animation: no-transform 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)),
              url(https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?dpr=2&auto=format&fit=) no-repeat bottom;
  background-size: cover;
  content: "";
  opacity: 0;
  transform: translateY(-4rem);
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

header:after {
  animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  z-index: 0;
}

.header-content {
  margin-top: -14rem;
  transform: translate3d(0,0,0);
}

.header-title, .header-subtitle {
  color: #fff;
}

.header-subtitle {
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.animate-pop-in {
  animation: no-transform .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  transform: translateY(-4rem) scale(.8);
}

.rocky-dashed {
  animation-delay: .6s;
}

.header-title {
  animation-delay:.8s;
}

.header-subtitle {
  animation-delay: 1s;
}

.header-button {
  animation-delay: 1.1s;
}

.header-down-arrow {
  position: absolute;
    bottom: 4vh;
    left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.header-down-arrow img {
  animation: no-transform 1s 1s ease-out forwards;
  opacity: 0;
  transform: translateY(4rem);
}

/* Animations */

@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}



