/* Styles for the links */

a {
  display: inline-block;
  color: transparent;
  perspective: 800px;
  position: relative;
  text-decoration: none;
  transform-style: preserve-3d;
}

a::before {
  color: #2D36DF;
  content: attr(data-linktext);
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  transition: transform .4s cubic-bezier(.2,1.5,1,1),
              opacity .2s ease-out;
}

a::after {
  color: #333;
  content: attr(data-linktext);
  opacity: 0;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  transform: translateY(-.6em) rotateX(90deg);
  transition: transform .4s cubic-bezier(.2,1.5,1,1),
              opacity .2s ease-out;
}

a:hover::before {
  opacity: 0;
  transition: transform .4s cubic-bezier(.2,1.5,1,1),
              opacity .2s ease-out;
  transform: translateY(.6em) rotateX(-90deg);
}


a:hover::after {
  opacity: 1;
  transition: transform .4s cubic-bezier(.2,1.5,1,1),
              opacity .2s ease-out;
  transform: none;
}

